*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body, html{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    
}
.navsection{
    position: sticky;
    top: 0; 
    z-index: 1;
    background-color: #171717;
    
}
.navheader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left:1.5rem ;
    padding-right: 1.5rem;
    align-items: center;
    /* background-color: black; */
    height: 64px;
   
}
ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
}
ul li a{
    text-decoration: none;
    color: white;
    padding-left: 10px;

    
}
ul li a:hover{
    color: #EC00BF;
}
li{
    display: flex;
    color: #EC00BF;
}

#checkbtn{
   display: none;
}
#check{
    display: none;
}

.icon{
    align-self: flex-end;
    padding-left: 6px;

}
.btn button{
    padding: 10px 24px;
    background-color: #EC00BF;
    color: white;
    border: 1px solid #EC00BF;
    border-radius: 15px;
}
.main{
    background-color: black;
    width: 100%;
    height: auto;
    z-index: -1;
}
.btn button:hover{
    background-color:black;
    color: white;
    border: 1px solid #EC00BF;


}
.roadmap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 0;
    gap: 60px;
    width: 100%;
    height: 580px;
}
.roadmaptext h1{
   font-size: 70px;
   line-height: 4rem;
   font-weight: bold;
}
.h1{
    color: white;
}
.h2{
    color: #EC00BF;
    margin: 0 0 32px;
}
.p{
    font-size: 16px;
    color: white;
}
.pic img{
    width: 470px;
    height: 100%px;
    border-radius: 20px;

}
.pic{
    align-items: center;
    justify-content: flex-start;
    padding-right: 20px;

}
.btn-1, .btn-2{
    padding: 10px 38px;
    border: 2px solid #EC00BF;
    background-color: black;
    color: #EC00BF;
    border-radius: 15px;
}
.btn-1:hover{
    background-color: #EC00BF;
    color: white;
}
.slidebtn{
    display: block;
    /* margin: 116px 0 0; */
    padding: 4px;
    border-radius: 20px;
    width: 100%;
    background-color: black;
    /* flex-direction: column; */
}
.btn1 button{
    position: relative;
    width: 20px;
    height: 10px;
}
.roadmap2 {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    margin: 20px 0;
    padding-bottom: 20px;
}
.pic3 img{
    margin-right: -6rem;
}
.roadmap2 h1, p{
    color: white;
}
.videoanimated {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 20px;
    

}.videoanimated video{
    height: 50%;
}
.roadmap3{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.pic4 img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    padding: 15px 0;
    opacity: .6;


}
.pic5 img{
    width: 100%;
    height: 350px;
    padding: 15px 0;
    border-radius: 20px;
    opacity: .6;

    

}
.pic5{
    position: relative;
}
.pic4{
    position: relative;
}
.btn-2{
    position: absolute;
    left: 35%;
    top: 65%;
}
.btn-2:hover{
    background-color: #EC00BF;
    color: white;
    cursor: pointer;
}
.trendicons{
    display: flex;
    position: absolute;
    left: 40%;
    top: 25%;
    color: white;
    
}
i span{
    padding-left: 10px;
}
.texticons{
    position: absolute;
    top: 31%;
    right: 10%;
}
 /* //sectionfooter */
.footer{
    width: 100%;
    height: 398px;
    margin: 0px 0 0;
    padding: 48px 20px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    line-height: 1rem;
 }
 .footerclass{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
 }
.icons-footer{
    display: flex;
    justify-content: center;
    
}
.icons-footer i{
    width: 80px;
    height: 30px;
    font-size: 40px;
    color: white;
}
.fa-brands{
    width: 30px;
}
.policies{
    display: flex;
    padding-left: 20px;
    gap: 30px;
}

.policies a{
    /* display: flex; */
    gap: 50px;
    text-decoration: none;
    color:#EC00BF;
}
.copyright{
    padding-top: 50px;
    padding-left: 30px;
}
.policies2{
    margin: 20px;
    font-size: 14px;
}
.lasttext{
    color: white;
    padding: 0 20px;
}
/* //mediaquerry */
@media only screen and (max-width:992px){
    /* body{
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #EC00BF;

        
    }
    .navsection{
        font-size: 16px;
    }
    .pic img{
        flex-direction: column;
        align-items: center;
    } */
    .btn{
        display: none;
    }
    #checkbtn{
        display: block;
        background-color:#171717;
        color: white;
    }    
    /* #check{
        display: block;
        color: white;
    } */ */
    .navheader img{
        width: 50%;
    }
    .navicons ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        background-color:white;
        top: 64px;
        display: block;
        cursor: pointer;
    
    }
    #check:checked ~ ul{
        left: 0;
    }
    .navicons li a{
        margin: 15px 0;
        color: #171717;
        font-size: 20px;
        display: block;
        

    }
   
    
    
}


